/NetBeansProjects/LoginScreen/dist/
/NetBeansProjects/LoginScreen/build/
NetBeansProjects/LoginScreen/build/classes/loginscreen/ClassScheduler.class

.gitignore

NetBeansProjects/LoginScreen/build/classes/loginscreen/Diction.class

NetBeansProjects/LoginScreen/build/classes/loginscreen/LoginScreenForm.class

NetBeansProjects/LoginScreen/build/classes/loginscreen/Mediator.class

NetBeansProjects/LoginScreen/build/classes/loginscreen/StartupScreen.class

NetBeansProjects/LoginScreen/build/classes/loginscreen/StartupScreen.form

NetBeansProjects/LoginScreen/build/classes/loginscreen/Student.class

NetBeansProjects/LoginScreen/nbproject/build-impl.xml

NetBeansProjects/LoginScreen/nbproject/genfiles.properties

NetBeansProjects/LoginScreen/nbproject/private/private.properties

NetBeansProjects/LoginScreen/nbproject/private/private.xml

NetBeansProjects/LoginScreen/nbproject/project.properties

NetBeansProjects/LoginScreen/src/loginscreen/.DS_Store
/JavaApplication40/build/